body{
    background-image: url("b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    

}
.collapse ul a{
color: white;
}
.leftsection{
    
    text-align:center;
    padding: 60px;
    margin-top: 50px;

}
.leftsection img{
    width:200px;
    height: 200px;
    border-radius: 50%;
    border-color: black;
    /* margin-top: 50px;
    margin-left: 100px; */
    align-items: center;
}
.rightsection{
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    font-style: oblique;
    

}
